.card-tour
    height: 50rem
    perspective: 150rem
    -mos-perspective: 150rem
    position: relative
    &__side
        height: 50rem
        transition: all .9s ease-out //Анимация начинается и заканчивается плавно
        color: white
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden
        box-shadow: $box-shadow
        border-radius: .5rem
        &_front
        &_back
            background: $color-brown-light
            transform: rotateY(180deg)
    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)
    &__img
        clip-path: polygon(0 1%, 100% 0, 98% 100%, 0 81%);
        background-blend-mode: hard-light
        height: 21rem
        &_1
            background: $color-brown-dark url(../img/card-1.jpg) center/cover no-repeat
        &_2
            background: $color-brown-dark url(../img/card-2.jpg) center/cover no-repeat
        &_3
            background: $color-brown-dark url(../img/card-3.jpg) center/cover no-repeat
    &__title
        font-size: 2.8rem
        letter-spacing: .2rem
        line-height: 3.3rem
        text-transform: uppercase
        font-weight: 300
        text-align: right
        position: absolute
        top: 17rem
        right: 0rem
    &__span
        background: linear-gradient(90deg , $color-brown-light, $color-brown-dark)
        padding: 1rem 2rem .3rem 2rem
        &_1
        &_2
            position: absolute
            top: 3.3rem
            right: 0rem
            padding-bottom: 1rem
            padding-top: 0rem
    &__desc
        ul
            list-style: none // убирает знаки из списка
            margin: 0 auto
            width: 75%
            text-align: center
            li
                font-size: $font-size-paragraph
                letter-spacing: .2rem
                color: $color-grey
                border-bottom: .1rem solid $color-grey
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem

    &__backside-box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__text
        margin-bottom: 9rem
        letter-spacing: .2rem
        text-transform: uppercase
        text-align: center
        color: $color-white
        &_1
            font-size: $font-size-paragraph
            font-weight: 300
        &_2
            font-size: 6rem
            font-weight: 500
                    
        